.root {
	.input_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.8em;
		max-width: 20em;
		.radio_wrapper {
			display: flex;
			justify-content: space-between;
			gap: 0.5em;
		}
		.checkbox_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0.5em;
		}
	}

	.msg-text {
		align-self: flex-start;
		font-size: 1.1em;
		padding: 0.4em 0.8em;
		border-radius: 1em;
		box-shadow: 0 0.0625em 0.0312em white;
		user-select: text;
		white-space: pre-wrap;
		word-break: break-word;
		max-width: 70%;
		margin-top: 1em;
		background-color: white;
	}
	.main-msg-text {
		font-size: 1.2em;
		font-weight: 700;
		color: white;
		background-color: #082643;
		box-shadow: none;
	}
	.awake-msg {
		animation: fromFade 0.1s linear;
	}
	.destroy-msg {
		animation: fromFade 0.1s linear reverse forwards;
	}
}
@keyframes fromFade {
	0% {
		opacity: 0;
		transform: translateY(-0.5em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media screen and (max-width: 1200px) {
	.checkbox_wrapper {
		flex-direction: column;
	}
}
