.root {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.8)
		),
		url("../../../public/images/background-main-image.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	.divider {
		height: 1em;
	}
	.widget {
		max-height: 98px;
		padding: 0;
		margin: 0;
		overflow: visible !important;
	}
	.loading {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 98px;
		background-color: #325d90;

		.lds-ring {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
		}
		.lds-ring div {
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 64px;
			height: 64px;
			margin: 8px;
			border: 8px solid #fff;
			border-radius: 50%;
			animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: #fff transparent transparent transparent;
		}
		.lds-ring div:nth-child(1) {
			animation-delay: -0.45s;
		}
		.lds-ring div:nth-child(2) {
			animation-delay: -0.3s;
		}
		.lds-ring div:nth-child(3) {
			animation-delay: -0.15s;
		}
		@keyframes lds-ring {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	.main_content {
		flex: 1;
		font-size: 1.5em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #eee;
		text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000,
			0 -1px 1px #000;
		text-align: center;
		padding: 2em 5em;
		gap: 1em;
		max-width: 60em;
		* {
			padding: 0;
			margin: 0;
		}
	}
}
