.root {
	font-size: 1.1em;
	padding: 0.4em 0.8em;
	border-radius: 1em;
	user-select: text;
	white-space: pre-wrap;
	word-break: break-word;
	max-width: 60%;
	margin-top: 1em;
	background-color: white;
}
