.root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	overflow: hidden;
	padding: 2em;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
		url("../../../public/images/background-page-image.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.chat-area {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 1em rgba(11, 20, 26, 0.05);
		border-radius: 1em;
		background-color: rgba(80, 127, 151, 0.8);
		padding: 0.5em;
		max-width: 1600px;
		max-height: 1200px;
		.msg-area {
			position: relative;
			height: 100%;
			width: 100%;
			.loading {
				position: absolute;
				background-color: white;
				color: black;
				padding: 1em;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				text-align: center;
				max-width: max-content;
				transform: translateY(-3em);
				z-index: 2;
			}
			.loading_animation {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.2s linear, transform 0.2s linear;
				transform: translateY(0em);
			}
			.destroy_animation {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s 0.2s, opacity 0.2s linear,
					transform 0.2s linear;
				transform: translateY(-3em);
			}
			.msg-wrapper {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column-reverse;
				height: inherit;
				width: inherit;
				overflow-x: hidden;
				overflow-y: auto;
				padding: 2em;
			}
		}
	}

	.input-area {
		display: flex;
		gap: 0.5em;
		padding-top: 0.2em;
		height: 3em;
		input {
			background-color: white;
			height: 100%;
			color: black;
			transition: background-color 200ms linear;
		}
	}
}
